{
  "plugins": ["syntax-dynamic-import"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "safari": "4",
          "chrome": "49",
          "android": "30",
          "firefox": "24",
          "edge": "12",
          "ie": "6"
        }
      }
    ]
  ]
}
