---
# Feel free to add content and custom Front Matter to this file.

layout: default
title: California Covid-19 Vaccine Availability
homepage: true
---

<div class="lg:flex lg:space-x-7">
  <div class="lg:w-3/5 xl:w-1/2">
    <h3 class="text-4xl font-medium mb-4 leading-10">{{ page.title }}</h3>

    The State of California has
    <a href="https://www.npr.org/2021/01/13/956574947/california-to-vaccinate-residents-65-or-older-against-covid-19">approved</a>
    giving the COVID-19 vaccine to people age 65 and older.</strong> We are
    calling hospitals and pharmacies daily to check which are currently
    administering vaccines.

    {% include regions_picker.html %}
  </div>

  <div class="mt-6 lg:w-2/5 xl:w-1/2">
    {% include map.html %}
  </div>
</div>

<div class="my-8">
  <div class="mt-5">
    <a href="https://airtable.com/shrOMv5EI1jYwV1XR" class="block md:inline px-5 py-3 border-2 border-green-500 text-green-700 font-bold rounded hover:bg-green-500 hover:text-white">Let us know if you found this site useful!</a>
  </div>
</div>

{% include coverage.html %}