<div class="shadow sm:rounded-lg px-2 lg:py-6 mt-4">
  <!-- <div class="lg:grid lg:grid-cols-2 divide-y lg:divide-y-0 lg:divide-x divide-gray-200"> -->
    {% for item in site.data.coverage %}
      <div class="py-3 lg:px-5">
        <a class="flex flex-row items-start" href="{{ item.url }}">
          <img class="float-left mr-3 mb-3 w-20 md:w-32 object-contain" src="/assets/img/coverage/{{ item.image }}" />

          <div class="flex flex-col">
            <div>{{ item.text }}</div>
            {% if item.quote %}
            <p class="hidden md:block text-gray-700 text-sm mt-2 leading-5">"{{ item.quote }}"</p>
            {% endif %}
          </div>
        </a>
      </div>
    {% endfor %}
  <!-- </div> -->
</div>
