<p>
  California’s statewide COVID-19 vaccination program has been evolving rapidly.
  <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/index.html"
    >Federal</a
  >, <a href="https://covid19.ca.gov/vaccines/">state</a>, and
  <a href="https://www.vaccinateca.com/county-policies">county</a> officials are
  all publishing frequent updates. These government websites are your best
  source for official information.
</p>

<p>
  We are a community-led website and do not represent the government or any
  healthcare provider.
</p>
