<div
  class="pt-9 mt-9 md:py-12 md:mt-12 text-gray-400 bg-white border-t-2 border-gray-200"
>
  {% if site.lang != "en" %}<p>{% t footer.lang_disclaimer %}</p>{% endif %}
  {% tf footer_text.html %}
  <p>
    <a href="/">English</a> &middot; <a href="/es/">Español</a> &middot;
    <a href="/zh-hans/">简体中文</a>
  </p>
  <a
    href="https://twitter.com/ca_covid?ref_src=twsrc%5Etfw"
    class="twitter-follow-button"
    data-size="large"
    data-dnt="true"
    data-show-count="false"
    >Follow @ca_covid</a
  >
  <script
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"
  ></script>
</div>
