<div
  class="pt-9 mt-9 md:py-12 md:mt-12 text-gray-400 bg-white border-t-2 border-gray-200"
>
  {% if site.lang != "en" %}
  <p>{% t footer.lang_disclaimer %}</p>
  {% endif %} {% tf footer_text.html %}
  <p>
    <a href="/">English</a> &middot; <a href="/es/">Español</a> &middot;
    <a href="/zh-hant/">繁體中文</a> &middot;
    <a href="/zh-hans/">简体中文</a> &middot;
    <a href="/tl/">Tagalog</a> &middot;
    <a href="/ko/">한국어</a>
  </p>
  <p>
    <a
      href="https://twitter.com/ca_covid"
      target="_blank"
      rel="norefferer"
      style="display: inline-block"
    >
      <img class="h-8 w-8 mr-2" src="/assets/img/twitter.svg" />
    </a>
    <a
      href="https://www.instagram.com/vaccinateca"
      target="_blank"
      rel="norefferer"
      style="display: inline-block"
    >
      <img class="h-8 w-8 mx-2" src="/assets/img/instagram_gradient.png" />
    </a>
    <a
      href="https://www.facebook.com/vaccinateCAcom"
      target="_blank"
      rel="norefferer"
      style="display: inline-block"
    >
      <img class="h-8 w-8 mx-2" src="/assets/img/facebook.png" />
    </a>
  </p>
</div>
