<div class="pt-6 pb-6 mt-20 text-gray-500 border-t border-gray-200 text-sm">
  <div>
    This is a <a href="{% link about-us.md %}" class="text-current">volunteer effort</a> by people around the world. Follow us on Twitter!
  </div>
  <div class="block mt-4">
    <a href="https://twitter.com/ca_covid?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-dnt="true" data-show-count="false">Follow @ca_covid</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
