<li class="shadow sm:rounded-lg px-2 lg:py-6 mt-4">
  <h4 class="text-lg leading-6 font-medium text-gray-900">
    {{ include.info.title }}
  </h4>
  <h4>
    <div class="border-t border-gray-200">
      <div>
        <div
          class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
        >
          <dt class="text-sm font-medium text-gray-500">Details</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            appointment required
          </dd>
          <dt class="text-sm font-medium text-gray-500">
            Appointment Information
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            Veterans only
          </dd>
          <dt class="text-sm font-medium text-gray-500">Latest info</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            From data corrections form 1/19: " Vaccines are currently available
            only for veterans."
          </dd>
        </div>
      </div>
    </div>
  </h4>
</li>
