<script type="module" id="js_map_src" src="/assets/js/map.js"></script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLgxtP80D9RxICUGicbeZf29_qUii9_sk&v=weekly"
  defer
></script>

<!-- prettier-ignore -->
<div
  id="js_map"
  {% if include.locate_me %}data-locate{% endif %}
  class="my-5 h-72 md:h-96 w-full"
></div>

<template id="locate_me_template">
  <button
    id="locate_me"
    class="md:inline mt-2 px-3 py-2 font-medium rounded text-white bg-green-500 hover:bg-green-600"
  ></button>
</template>
