<div class="bg-yellow-50 shadow sm:rounded-lg px-4 py-5 mt-5 sm:px-6">
  <div class="flex flex-col items-center lg:items-start">
    <a
      href="{% link nearest.html %}"
      class="px-4 py-2 mb-4 bg-green-500 text-white rounded hover:bg-green-600 focus:border focus:ring-black"
      >Find Locations Near You</a
    >
    <h3 class="text-l font-medium mb-3">
      Or check locations and policies by region
    </h3>
  </div>

  <div
    class="md:grid md:grid-cols-5 md:space-x-2 items-stretch lg:block lg:grid-cols-none lg:space-x-0"
  >
    {% assign regions = site.regions | sort: 'order' %} {% for region in regions
    %}
    <a
      href="{{ region.url }}"
      class="{{ region.color }} text-white py-1.5 px-3 hover:underline mb-2 inline-block rounded shadow md:leading-5"
    >
      <span class="font-medium text-lg">{{ region.title }}</span>
      <span class="text-xs font-light">({{ region.sample_counties }})</span>
      &rarr;
    </a>
    {% endfor %}
  </div>
</div>
