<script type="module" src="{{ 'assets/js/nearest.js' | content_tag }}"></script>

{% if include.counties_autocomplete %}
<script type="module" src="assets/js/counties-autocomplete.js"></script>
{% endif %}

<div class="flex flex-col">
  <!-- Main form -->
  <form
    class="flex flex-row"
    id="submit_zip_form"
    action="{% link nearest.html %}"
    method="GET"
  >
    <div class="relative location-inputs">
      {% assign counties_list = "" | split: "" %} {% for region in
      site.data.regions_counties %} {% assign counties_list = counties_list |
      concat: region[1] %} {% endfor %} {% assign counties = counties_list |
      join: ", " %}
      <input
        id="js_zip_or_county"
        name="zip"
        class="rounded-full search-input border border-gray-300 hover:border-gray-400 focus:outline-none focus:border-gray-700f px-4 py-2 md:w-64"
        placeholder="{% t search_form.enter_zip %}{% if include.counties_autocomplete %} {% t search_form.enter_county %}{% endif %}..."
        pattern="[0-9]{5}"
        autocomplete="off"
        required
        data-collection="{{ counties }}"
      />
      <div
        id="js_my_location"
        class="hidden absolute top-1/2 transform -translate-y-1/2 left-8 bg-gray-100 rounded-full px-3 py-1 text-sm pointer-events-none"
      >
        {% t search_form.location_placeholder %}
      </div>
      <a
        class="hidden absolute bg-white z-10 left-0 top-full flex flex-row border border-gray-200 rounded-full px-4 py-1 items-center space-x-2 mt-1 up-arrow"
        href="{% link nearest.html %}?locate=1"
        id="submit_geolocation"
      >
        <svg
          width="14"
          height="18"
          viewBox="0 0 14 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.7959 3.09937C10.653 1.59797 8.9051 0.746429 7.02275 0.746429C5.1404 0.746429 3.3925 1.59797 2.24964 3.09937C0.613787 5.25063 0.613787 8.23102 2.24964 10.3823L7.02275 16.612L11.7959 10.3823C13.4317 8.23102 13.4317 5.25063 11.7959 3.09937ZM7.02275 3.45791C8.74824 3.45791 10.16 4.86968 10.16 6.59517C10.16 8.32066 8.74824 9.73242 7.02275 9.73242C5.29726 9.73242 3.8855 8.32066 3.8855 6.59517C3.8855 4.86968 5.29726 3.45791 7.02275 3.45791Z"
            fill="black"
            stroke="black"
            stroke-miterlimit="10"
          />
        </svg>

        <div class="text-black">{% t search_form.location %}</div>
      </a>
    </div>
    <button
      class="rounded-full bg-green-400 text-white hover:bg-green-500 px-10 md:px-5 ml-2"
      id="submit_zip"
    >
      {% t search_form.submit_button %}
    </button>
  </form>
</div>
