<template id="site_location_template">
  <li class="site-card rounded-lg mt-4 pt-4 pb-4 relative">
    <div class="px-2 md:px-4 pb-2 border-b border-gray-200 flex flex-row space-x-2 justify-between items-center">
      <!-- Name and address -->
      <div class="flex flex-col overflow-hidden">
        <h4 class="site_title text-lg font-bold leading-4 text-gray-900 mb-1 truncate capitalize"></h4>
        <div class="site_location_info flex flex-row items-center">
          <a class="site_county text-sm font-medium text-black no-underline hover:underline whitespace-nowrap"></a>
          <span class="address_separator px-2">·</span>
          <a
            class="site_address text-sm text-gray-500 no-underline hover:underline truncate capitalize"
            target="_blank"
            rel="noreferrer"
          ></a>
        </div>
      </div>
      <!-- Last report on desktop -->
      <div class="site_last_report_date text-xs text-black bg-gray-200 px-2 py-1 rounded-full hidden md:flex"></div>
    </div>
    <div class="site_report_wrapper">
      <div
        class="site_report px-2 md:px-4 pt-0 md:pt-2 md:grid md:grid-cols-3 md:gap-4 relative"
      >
        
      </div>
      <!-- Last report on mobile -->
      <div class="flex justify-start">
        <div class="site_last_report_date text-xs text-black bg-gray-200 px-2 py-1 mt-2 rounded-full md:hidden ml-2"></div>
      </div>
      <div class="site_no_report mt-3">No contact reports</div>
    </div>
  </li>
</template>

<template id="report_detail_template">
  <dt class="detail_title mt-2 md:mt-0 text-sm font-medium text-gray-500"></dt>
  <dd
    class="detail_content mt-1 text-sm text-gray-900 md:mt-0 sm:col-span-2 break-word"
  ></dd>
</template>

<template id="vaccine_available">
  <div class="flex flex-row items-center space-x-2">
    {% include svg/checkmark.html %}
    <span class="font-sm font-bold text-green-600">
      Vaccines available
    </span>
  </div>
</template>

<template id="vaccine_not_available">
  <div class="flex flex-row items-center space-x-2">
    {% include svg/missing.html %}
    <span class="font-sm font-bold text-red-600">
      Vaccines not available
    </span>
  </div>
</template>

<template id="latest_info">
  <div class="flex flex-row items-center space-x-1">{% include svg/info.html %}
    <div class="flex flex-row text-sm space-x-1 leading-none">
      <span class="font-bold">Latest info </span><span>Great details</span>
    </div>
  </div>
</template>

<template id="appointment_details">
  <div class="flex flex-row items-center space-x-1">{% include svg/calendar.html %}
    <div class="flex flex-row text-sm space-x-1 leading-none">
      <span class="font-bold">Appointment required </span><span>Great details</span>
    </div>
  </div>
</template>