<script id="js-site-location-labels" type="application/json">
  {
    "hasVaccine": "{% t nearest.vaccines_available %}",
    "noVaccine": "{% t nearest.vaccines_not_available %}",
    "unknownVaccine": "{% t nearest.vaccine_unknown %}",
    "apptRequired": "{% t nearest.appointment_required %}",
    "scheduleFull": "{% t nearest.schedule_full %}",
    "latestInfo": "{% t global.latest_info %}",
    "noReports": "{% t site_template.no_reports %}",
    "providerInfo": "{% t site_template.provider_info %}"
  }
</script>
