<template id="site_location_template">
  <li class="shadow sm:rounded-lg px-3 lg:py-6 mt-4 py-4">
    <h4
      class="site_title text-lg leading-6 font-medium text-gray-900 mb-2"
    ></h4>
    <div class="site_address mb-2 flex flex-row items-center">
      <svg
        height="18"
        viewBox="0 0 21 21"
        width="18"
        xmlns="http://www.w3.org/2000/svg"
        class="mr-1"
      >
        <g
          fill="none"
          fill-rule="evenodd"
          stroke="#6B7280"
          stroke-linecap="round"
          stroke-linejoin="round"
          transform="translate(4 2)"
        >
          <path
            d="m6.5 16.5407715c4-4.4500928 6-7.78586659 6-10.00732153 0-3.33218241-2.6862915-6.03344997-6-6.03344997s-6 2.70126756-6 6.03344997c0 2.22145494 2 5.55722873 6 10.00732153z"
          />
          <circle cx="6.5" cy="6.5" r="2.5" />
        </g>
      </svg>
      <a
        class="text-sm text-gray-500 hover:underline"
        target="_blank"
        rel="noreferrer"
      ></a>
    </div>
    <div class="site_report_wrapper border-t border-gray-200">
      <div
        class="site_report bg-gray-50 px-2 md:px-4 pt-2 md:pt-4 pb-7 md:grid md:grid-cols-3 md:gap-4 relative"
      >
        <div
          class="site_last_report_date absolute bottom-1 right-2 text-xs text-gray-400"
        ></div>
      </div>
      <div class="site_no_report mt-3">No contact reports</div>
    </div>
  </li>
</template>

<template id="report_detail_template">
  <dt class="detail_title mt-2 md:mt-0 text-sm font-medium text-gray-500"></dt>
  <dd
    class="detail_content mt-1 text-sm text-gray-900 md:mt-0 sm:col-span-2 break-all"
  ></dd>
</template>
