<h3 class="flex flex-row items-center space-s-2">
  <div>
    {% if include.has_report == true %} {% if include.has_vaccine == true %}
    <img src="/assets/img/checkmark.svg" /> {% else %}
    <img src="/assets/img/missing.svg" /> {% endif %} {% else %}
    <img src="/assets/img/question_mark.svg" /> {% endif %}
  </div>
  <div
    class="text-2xl font-bold {% if include.has_report == true %}{% if include.has_vaccine == true %} text-green-600 {% else %} text-red-600 {% endif %}{% else %} text-gray-600{% endif %}"
  >
    {% if include.has_report == true %} {% if include.has_vaccine == true %} {%
    t site_list.vaccine_sites %} {% else %} {% t site_list.no_vaccine_sites %}
    {% endif %} {% else %}{% t site_list.no_report_sites %} {% endif %}
  </div>
</h3>
