<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}

  <body>
    <script type="module" src="/assets/js/county-page.js"></script>
    <p id="county_name" class="hidden">{{ page.title }}</p>

    {% include site_template.html %}

    <div>
      {% include header.html %}
      <main class="mx-auto">
        <div class="md:pb-6">
          <div class="main-content px-4 md:px-8">
            <div class="pt-6 mt-6">
              <p class="text-xl">{% tf county_header.html %}</p>

              {% tf pre_list_disclaimer.html %}

              <div class="border-2 border-green-600 rounded p-3 mb-5">
                <h3 class="text-lg font-medium text-green-800">
                  {% t site_list.vaccine_sites %}
                </h3>

                <ol id="sitesWithVaccine"></ol>
              </div>

              <div class="border-2 border-red-600 rounded p-3">
                <h3 class="text-lg font-medium text-red-800">
                  {% t site_list.no_vaccine_sites %}
                </h3>

                <ol id="sitesWithoutVaccine"></ol>
              </div>

              {% tf post_list_disclaimer.html %}
            </div>

            {% include footer.html %}
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
