<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}

  <body>
    <script
      type="module"
      src="{{ '/assets/js/county-page.js' | content_tag }}"
    ></script>
    <p id="county_name" class="hidden">{{ page.title }}</p>

    {% include site_template.html %}

    <div>
      {% include header.html %}
      <main class="mx-auto">
        <div class="md:pb-6">
          <div class="main-content px-4 md:px-8">
            <div class="pt-3 mt-3 md:pt-6 md:mt-6">
              <p class="text-lg md:text-xl">{% tf county_header.html %}</p>
              <div class="text-sm">{% tf pre_list_disclaimer.html %}</div>
              {% assign section_base_class = "border-0 md:border-2 rounded py-3
              md:p-3" %}
              <section
                class="{{ section_base_class }} border-green-600 mt-0 md:mt-10"
              >
                {% include vaccine_section_title.html has_report=true
                has_vaccine=true %}
                <ol id="sitesWithVaccine">
                  {% include loading.html %}
                </ol>
              </section>

              <section class="{{ section_base_class }} md:mt-5 border-red-600">
                {% include vaccine_section_title.html has_report=true
                has_vaccine=false %}
                <ol id="sitesWithoutVaccine">
                  {% include loading.html %}
                </ol>
              </section>

              <section class="{{ section_base_class }} md:mt-5 border-gray-400">
                {% include vaccine_section_title.html has_report=false %}
                <ol id="sitesWithoutReport">
                  {% include loading.html %}
                </ol>
              </section>

              {% tf post_list_disclaimer.html %}
            </div>

            {% include footer.html %}
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
