<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}

  <body>
    <script
      type="module"
      src="{{ '/assets/js/region.js' | content_tag }}"
    ></script>

    <div>
      {% include header.html %}

      <main class="mx-auto">
        <div class="md:pb-6">
          <div class="main-content px-4 py-6 md:px-8">
            <div class="bg-white">
              <div class="lg:text-center">
                <p class="mt-1 max-w-3xl text-xl text-gray-500 lg:mx-auto">
                  {% assign counties = site.counties | where:"region",
                  page.title %} {% assign county_autocomplete_data = counties |
                  map: "title" | join: ", " %} {% for county in counties %}
                  <a href="{{ county.url }}">{{ county.title }}</a>{% if
                  forloop.last %}{% else %},{% endif %} {% endfor %}

                  <span id="counties_list" class="hidden"
                    >{{ county_autocomplete_data }}</span
                  >
                </p>
              </div>
            </div>

            <div class="border-t-2 border-gray-200 pt-6 mt-6">
              <p class="text-lg md:text-xl">{% tf region_header.html %}</p>

              <div class="text-sm">
                <p>{% t pre_list_disclaimer.disclaimer %}</p>
              </div>

              <div class="autoComplete_wrapper mt-3 md:mt-6">
                <input
                  type="text"
                  id="autoComplete"
                  placeholder="Search by county..."
                  class="js_autocomplete {{ site.data.styles.input }}"
                  autofocus
                />
              </div>

              <div class="py-3 mb-3">
                {% include vaccine_section_title.html has_report=true
                has_vaccine=true %}
                <div id="withVaccine"></div>
              </div>

              <div class="py-3">
                {% include vaccine_section_title.html has_report=true
                has_vaccine=false %}
                <div id="withoutVaccine"></div>
              </div>
            </div>

            {% t post_list_disclaimer.disclaimer %} {% include footer.html %}
          </div>
        </div>
      </main>
    </div>
    {% include site_template.html %}
  </body>
</html>
