
<div>
  <input
    id="search-input"
    placeholder="{{t "embedded_map_controls.search"}}"
    class="custom-map-element rounded-full search-input border border-gray-300 w-56	hover:border-gray-400 focus:outline-none focus:border-gray-700f"
  />
  <button 
    id="autolocate-button"
    class="custom-map-element rounded-full bg-green-600 text-white hover:bg-green-700 px-5 ms-2"
  >
    {{t "embedded_map_controls.locations_near_me"}}
  </button>
</div>