
  <div>
  <input
    id="zip-input"
    onkeydown="onZipInputKeyDown(event)"
    placeholder="{{t "zip_search_box.zip_code"}}"
    class="custom-map-element rounded-full search-input border border-gray-300 hover:border-gray-400 focus:outline-none focus:border-gray-700f"
  />
  <button 
    id="zip-sumbit-button"
    onclick="submitZip(event)"
    class="custom-map-element rounded-full bg-green-600 text-white hover:bg-green-700 px-5 ms-2"
  >
    {{t "zip_search_box.search"}}
  </button>
</div>